{% extends "base.html" %}

{% block title %}Password Change{% endblock title %}

{% block content %}

<h1>Password change</h1>
<br>
<p>Please enter your old password, for security's sake, and then enter
your new password twice so we can verify you typed it in correctly.</p>

<form method="POST">
    {% csrf_token %}

    <label for="Password Reset">Password Reset: </label>

    <input type="password" name="reset" id="" placeholder="Enter password">

    <br><br>
    
    <label for="Password Reset">Confirm Password: </label>

    <input type="password" name="confirm_pass" id="" placeholder="Confirm password">

    <br><br>

    <input class="btn btn-success" type="submit"
    value="Change my password">

</form>

{% endblock content %}
